
@font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/livvic-v8-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/livvic-v8-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/livvic-v8-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/livvic-v8-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*{
    box-sizing: border-box;
}

img{
    vertical-align: middle;
    display: block;
    object-fit: cover;}
    
    body{
        margin: 0;
        padding: 0;
        font-family: 'Livvic', "arial", sans-serif;
        font-weight: 600;
        background-color: #014E56;
    }
    
    h1,h2,h3,h4,h5,p{
        margin: 0;
    }
    
    ul,li{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .container{
        width:1150px;
        padding: 0 20px ;
        margin: 0 auto;
    }
    
    header{
        padding-top: 73px;
        padding-bottom: 120px
    }
    
    .header__inner{
        display: flex;
        align-items: center;
        
    }
    
    .header__left{
        display: flex;
        align-items: center;
        margin-right: auto;
    }
    
    .header__list{
        display: flex;
        margin-left: 80px;
    }
    
    .header__item{
        font-weight:600;
        font-size:18px;
        Line-height:28px;
        margin-right: 40px;
    }
    
    .header__item:last-child{
        margin: 0;
    }
    
    .header__link{
        color: #FFFFFF;
        text-decoration: none;
        transition: all 0.4s ease;
    }
    
    .header__link:hover{
        color: #F67E7E;
        transition: all 0.4s ease;
    }
    
    .header__contact{
        color: #FFFFFF; 
        font-weight: 600px;
        font-size: 18px;
        line-height: 28px;
        text-decoration: none;
        padding: 10px 32px;
        border: 2px solid #FFFFFF;
        border-radius:24px;
        transition: all 0.4s ease;
    }
    
    .header__contact:hover{
        color:#002529;
        background-color: #FFFFFF;
        transition: all 0.4s ease;
    }

    /* ======================main======================= */

    .contact{
        padding-bottom:120px;
        background-image:url(../about.image/diroctes-left.svg), url(../image/contact.svg);
        background-repeat: no-repeat;
        background-size:115px 200px, 115px 200px ;
        background-position: calc(50% - 702px) calc(50% - 166px), calc(50% + 702px) calc(50% + 167px);

    }

    .contact__inner{

    }

    .contact__title{
        font-family:"Livvic" ;
        font-weight: 700;
        font-size:64px ;
        line-height:100px ;
        color: #FFFFFF;
        margin-bottom: 16px;
    }

    .contact__text{
        font-family:"Livvic" ;
        font-weight:700 ;
        font-size: 32px;
        line-height:48px ;
        color:#F67E7E ;
        margin-bottom: 32px;
    }

    .contact__item{
        display: flex;
        align-items: center;
    }

    .contact__info{
        font-family:"Livvic" ;
        font-weight:700 ;
        font-size:18px ;
        line-height:28px ;
        color:#FFFFFF;
        margin-left: 23px;

    }

    /* ====================not finished===================  */

    /* ===========================footer=================== */

    
    .footer{
        padding: 48px 0 48px;
        background-color:#002529;

    }


    .footer__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .footer__left{

       display: flex;
       align-items: center;

    }
    .footer__content{
        margin-right: 125px;
    }

    .footer__img{
        width: 160px;
        height: 40px;
        margin-bottom:25px ;
    }


    .footer__list{
       display: flex;
       align-items: center;
    }

    .footer__item{
        font-family: "Livvic";
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        margin-right:40px;
       
    }

    .footer__link{
        text-decoration: none;
        color:#FFFFFF;
        transition: all 0.4s ease;
    }

    .footer__link:hover{
        color: #F67E7E;
        transition: all 0.4s ease;
    }

    .footer__scedule{
        font-family:"Livvic" ;
        font-weight:600 ;
        font-size: 15px;
        line-height:25px ;
        color:#FFFFFF ;
        opacity: 60%
    }

    .footer__tel{
        color:#FFFFFF ;
        opacity: 60%;
        text-decoration: none;
    }

    .footer__socials{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 51px;
    }

    .footer__network{
        margin-left: 16px;
    }

    .footer__text{
       font-family:"Livvic" ;
       font-weight:600 ;
       font-size: 15px;
       line-height:25px ;
       color:#FFFFFF ;
       opacity: 60%
    }
